*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, Georgia, sans-serif;
    font-size: 12px;
}


p {
    font-weight: 300;
    line-height: 1.5;
    margin: 1em 0;
}

a {
    color: #03a9c4;
    /*text-decoration: none;*/
}

a:hover {
    color: #c60212;
}

.container {
    position: relative;
    padding: 0 15px;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px) {
    .container {
        width: 688px;
    }
    *, html, body {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 912px;
    }
    *, html, body {
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
    *, html, body {
        font-size: 21px;
    }
}

.row {
    display: block;
    margin: 0 -15px;
    /*background-color: rgba(157, 157, 157, 0.1);*/
}


.row.right-align {
    display: flex;
    justify-content: flex-end;
}

.col {
    width: 41%;
}

.col > .section-title:first-child {
    margin-top: 0;
}

.col > .content-card:last-child {
    margin-bottom: 0;
}

.section-title {
    font-size: 2em;
    border-bottom: 3px solid;
    padding-bottom: .25em;
}

.sub-section-title {
    margin: 3em 0 2em;
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 20px;
    border-left: 3px black solid;
}

.whitespace {
    display: block;
    background: none;
    width: 100%;
    padding: 0;
    margin: 0;

    /* for debug */
    border: 1px dashed;
    /*border: none;*/
}

.content-card {
    /*display: flex;*/
    /*flex-flow: column;*/
}

.content-card.suggestion {
    display: flex;
    flex-flow: column;
    background-color: #e1f7fa;
    border-radius: 20px;
    padding: 5px 20px 10px;
    margin: 3em 0;
}

.content-card.insight {
    display: flex;
    flex-flow: column;
    background-color: #e6f6de;
    border-radius: 20px;
    padding: 5px 20px 10px;
    margin: 3em 0;
}

.content-card.warn {
    display: flex;
    flex-flow: column;
    background-color: #f5e6da;
    border-radius: 20px;
    padding: 5px 20px 10px;
    margin: 3em 0;
}

.warn, .insight, .suggestion {
    box-shadow: #eee 5px 5px 5px;
}

.warn:hover, .insight:hover, .suggestion:hover {
    box-shadow: #ccc 5px 5px 10px;
}

.warn > * + * {
    margin-bottom: 1em;
}

.warn > *:last-child {
    margin-bottom: 0;
}

.flex-content {
    display: flex;
    flex-flow: column;
}

.content-card__highlight {
    font-size: 2.5em;
    color: darkred;
}

.content-card__highlight.small {
    font-size: 1.5em;
}

.content-card__highlight.both-margin {
    margin: 0 10px;
}

.content-card__highlight.right-margin {
    margin-right: 10px;
}

.content-card__highlight--shout {
    color: indianred;
    font-weight: bolder;
}

.content-card__list {
    display: flex;
    flex-flow: column;
}

.content-card__list-item {
    padding: 0 2em;
    /*text-align: justify;*/
}

.suggestion .bulletin {
    margin-bottom: .6em;
}

.bulletin::before {
    content: "- ";
}

.variable-block {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.variable-name {
    font-family: monospace;
    font-size: .8em;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: #eee;
    margin-bottom: 5px;
    margin-right: 5px;
}

.suggestion__keyword {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 10px;
    /*color: white;*/
    color: hsl(187, 100%, 30%);
}

.insight__keyword {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 10px;
    color: hsl(100, 100%, 30%);
}

.warn__keyword {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 10px;
    color: hsl(27, 100%, 30%);
}

.emphasize {
    font-weight: bolder;
    margin-bottom: 1.5em;
}

.badge {
    /*display: inline-block;*/
    border: none;
    border-radius: 5px;
    padding: 0 .5em;
}

.badge.positive {
    color: #eee;
    background-color: #008f02;
}

.badge.negative {
    color: #eee;
    background-color: #510101;
}

.side-note {
    font-size: .7em;
    color: #aaa;
}

.side-note a {
    font-size: inherit;
    color: inherit;
}

.side-note a:hover {
    color: #c60212;
}
/* Keep Scroll Animation */
@keyframes slide-in {
    from {
        top: 0;
    }
    to {
        top: 10px;
    }
}
@keyframes slide-in {
    from {
        top: 10px;
    }
    to {
        top: 0;
    }
}
.scroll_background {
    position: relative;
}
.keep-scroll {
    position: absolute;
    left: calc(40%);
    display: flex;
    flex-flow: column;
    align-items: center;

    animation-direction: alternate;
    animation-duration: 0.8s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
}
.keep-scroll > p {
    text-transform: uppercase;
    font-weight: bolder;
    display: block;
    margin-bottom: 10px;
}
.back-to-top {
    cursor: pointer;
}

.vis-block {
    height: 100vh;
    width: 45%;
    border: 1px dashed;
    background-color: #eeeeee;
}