#ueba-intro .__title {
    margin-top: .2em;
    font-size: 3em;
}

#ueba-intro .__language-select {
    display: flex;
    align-items: center;
}

#ueba-intro .__language-select select {
    font-weight: lighter;
    font-size: 1em;
    width: 120px;
    margin-left: 10px;
    padding: 3px 0;
}

#ueba-intro .__participants {
    display: flex;
    flex-flow: column;
    font-size: .9em;
}

/* Keep Scroll Animation */
@keyframes slide-in {
    from {
        top: 0;
    }
    to {
        top: 10px;
    }
}

@keyframes slide-in {
    from {
        top: 10px;
    }
    to {
        top: 0;
    }
}

#ueba-intro .__scroll_background {
    position: relative;
}

#ueba-intro .__keep-scroll {
    position: absolute;
    left: calc(40%);
    display: flex;
    flex-flow: column;
    align-items: center;

    animation-direction: alternate;
    animation-duration: 0.8s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
}

#ueba-intro .__keep-scroll > p {
    text-transform: uppercase;
    font-weight: bolder;
    display: block;
    margin-bottom: 10px;
}
