#ueba-intro {
    height: 100vh;
}

#ueba-intro .__title {
    margin-top: .2em;
    font-size: 2.7em;
}

#ueba-intro .__language-select {
    display: flex;
    align-items: center;
}

#ueba-intro .__language-select select {
    font-weight: lighter;
    font-size: 1em;
    width: 120px;
    margin-left: 10px;
    padding: 3px 0;
}

#ueba-intro .__participants {
    display: flex;
    flex-flow: column;
    font-size: .9em;
}

